{{#partial "content"}}

    <p>Name: {{ hero.name }}</p>
    <p>Age: {{ hero.age }}</p>
    <p>Special Power: {{ hero.specialPower }}</p>
    <p>Weakness: {{ hero.weakness }}</p>
    <p>Hero squad: {{ squad.name }}</p>

    <div class="row">
        <div class="col-md-12">
            <div class = "col-md-12">
                <a class="btn btn-info" href="/heroes/{{hero.id}}/edit">Edit this task</a>
                <a class="btn btn-info" href="/squads/{{hero.squadId}}/heroes/{{hero.id}}/delete">DELETE this task</a>
            </div>
        </div>
    </div>

{{/partial}}

{{> layout.hbs}}