{{#partial "content"}}
    <div style="color:purple; font-family:Serif">
        <h1>{{squad.name}}</h1>
    </div>
    <ul>
        <li>Maximum size: {{squad.maximumSize}}</li>
        <li>Cause to Fight: {{squad.causeToFight}}</li>
    </ul>
    <h4 style="color:green; font-family:Serif">Here are all the heroes listed in this squad:</h4>
    <ul>
        {{#each heroes}}
            <li>
                <p><a href="/squads/{{squad.id}}/heroes/{{id}}">{{name}}</a></p>
            </li>
        {{/each}}
    </ul>
    <div class="row">
        <a class="btn btn-info" href="/squads/{{squad.id}}/edit">Edit this squad</a>
        <a class="btn btn-info"  href="/squads/{{squad.id}}/delete">DELETE this squad</a>
    </div>
{{/partial}}

{{> layout.hbs}}